body
{
    font-family: Arial, Helvetica, sans-serif;
}
.header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(251, 250, 251);
    border-bottom: 3px solid orange;
}

.img
{
    width: 20%;
}
img
{
    width: 100%;
    border-radius: 50%;
}
.name
{
    width: 80%;
}
#full_name
{
    margin-left: 2rem;
    color: orange;
}
#role
{
    margin-left: 2rem;
    font-size: 25px;
}
.contacts
{
    width: 30%;
}

.main
{
    display: flex;
}
.short-info
{
    width: 30%;
}

table
{
    width: 100%;
}
/* table,
tr,
th,
td{
    border: 1px solid black;
} */

#table-head
{
    text-align: center;
}

.about-me
{
    width: 70%;
}

.work-exp
{
    display: flex;
}
.title
{
    width: 30%;
    color: orange;
}
.roadmap
{
    width: 70%;
}

.skills
{
    display: flex;
}

.skill-table
{
    margin: 0 auto;
}