body
{
    height: 100%;
    font-family: 'Arial';
    margin: 0;
    background-color: #FFFAFA;
}
img
{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.container
{
    width: 80%;
    margin: 0 auto;  
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul>li>a
{
    transition: 0.5s;
}
ul>li>a:hover
{
    transition: 0.5s;
    color: orange;
}
.main
{
    background-color: #E0EBE8;
    padding-top: 50px;
    padding-bottom: 15%;
}
.name
{
    text-align: center;
}
.job
{
    text-align: center;
}

article, figure
{
    display: block;
}

.about-me>.container>article
{
    margin: 0 auto;
    max-width: 460px;
}

.about-me>figure{
    margin: 0 auto;
    max-width: 150px;
}
.about-me, .what-i
{
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
}

p
{
    font-size: 1.5 rem;
}
h3
{
    color: #45B29A;
}
h2
{
    color: #1E836C;
}
hr
{
    border-style: none;
    height: 2px;
    width: 10%;
    border-top: 5px dotted grey;
}

.what-i>.container>article
{
    margin: 0 auto;
    text-align: center;
}
.wrapper
{
    margin: 0 auto;
    text-align: center;
}
.deets
{
    margin: 0 auto;
    max-width: 460px;
}



/* footer section */
footer
{
    background-color: #C5DED7;
    padding: 3em 0;
}
footer p, footer a  
{
    text-align: center;
    color: #45b29a;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 2.5em 0 0;
}
.copyright, .links
{
    margin: 0 auto;
}

.can-help
{
    margin-top: 3em;
    margin-bottom: 3em;
}

.btn-hldr .main-btn {
    font-size: .8em;
    text-align: center;
    display: block;
    position: relative;
    background: #45b29a;
    padding: 0.75em 2em 0.75em 2em;
    color: #1b7f69;
    text-decoration: none;
    margin: 1.5em 0 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: 400;
    border: 0;
    text-transform: uppercase;
}

@media (min-width: 992px)
{
    .btn-hldr .main-btn {
        display: inline-block;
    }
}